<!DOCTYPE html>
<html>
  <head>
    <title>Shorty</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content='URL Shorterner'>
    <meta name="author" content="Neil Patel">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/f40685afe6.js"></script>


  </head>

  <body>

    <div class="border"></div>

    <%= yield %>

  </body>
</html>
